<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Personas</title>
    </head>
    <body>
       <h1>Hola</h1>
       <button name="añadir alumno"><a href="personas_add.php"> Añadir alumno </a> </button>
       <button name="Consultar alumno"><a href="personas_view.php"> Consultar alumno </a> </button>
       <button name="Añadir curso"><a href="cursos_add.php"> Añadir curso </a> </button>
       <button name="Consultar curso"><a href="cursos_view.php"> Consultar curso </a> </button>
       <button name="Consultar curso"><a href="cursos_del.php"> Borrar curso </a> </button>
    </body>
</html>
