<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Personas</title>
    </head>
    <body>
       <h1>Hola</h1>
       <button name="Añadir curso"><a href="animales_add.php"> Añadir curso </a> </button>
       <button name="Consultar curso"><a href="animales_view.php"> Consultar curso </a> </button>
       <button name="Borrar curso"><a href="animales_del.php"> Borrar curso </a> </button>
       <button name="Actualitzar curso"><a href="animales_update.php"> Actualitzar curso </a> </button>

    </body>
</html>
